<h1><%= @project.name %></h1>

<h2>Tasks</h2>
<% @project.tasks.each do |task| %>
	<p>
		<i><%= task.description %></i></br>
	</p>
	<p>
		<i><%= task.priority %></i></br>
	</p>
	<p>
		<i><%= task.deadline %></i></br>
	</p>
	<p>
		<i><%= task.done %></i><br/>
	</p>
<% end %>

<h2>Add task:</h2>
<p>
	<%= render 'tasks/form' %>
</p>